<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/tooltip.css}">
    <style>
        body {
            background: #F4F7FD;
        }
    </style>
    <title>Календарь | Мой календарь</title>
</head>
<body class="d-flex h-100 text-center text-dark">
<div class="container d-flex w-100 h-100 p-3 mx-auto flex-column min-vh-100">

    <div class="mb-auto" th:replace="blocks/header.html :: header"></div>

    <main>
        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-row flex-wrap justify-content-evenly mt-5 mb-5" style="width: 75%;">
                <div class="d-flex flex-column" th:each="month : ${months}">
                    <table class="table table-bordered">
                        <thead>
                        <tr class="table-secondary text-dark">
                            <th colspan="7" th:text="${monthNames[month.month - 1]}"></th>
                        </tr>
                        <tr class="table-light text-dark">
                            <th>ПН</th>
                            <th>ВТ</th>
                            <th>СР</th>
                            <th>ЧТ</th>
                            <th>ПТ</th>
                            <th>СБ</th>
                            <th>ВС</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="week : ${month.weeks}">
                            <td class="table-cell tooltip1" th:each="day : ${week.days}" th:classappend="${@calendarUtil.isEvent(events, day, month, selectedYear)} ? 'table-danger' : ''">
                                <span th:if="${not day.isEmpty()}" th:text="${day.dayOfMonth}" class="table-cell-hover"></span>
                                <div th:if="${not day.isEmpty()}" class="tooltiptext1">
                                    <span th:text="${day.dayOfMonth + ' ' + monthNames[month.month - 1]}"></span><br>
                                    <span th:text="${@calendarUtil.checkEventsInDay(events, day, month, selectedYear)}"></span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <table class="table">
                            <th:block th:each="event : ${events}">
                                <th:block th:if="${@calendarUtil.getMonth(event) == '' + month.month && @calendarUtil.getYear(event) == '' + selectedYear}">
                                    <tr>
                                        <td th:text="${event.getFormattedDate().replaceAll('^0+','')}"></td>
                                        <td><a th:text="${event.name}" th:href="@{/event/{id}(id=${event.id})}"></a></td>
                                    </tr>
                                </th:block>
                            </th:block>
                        </table>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column mb-5" style="width: 25%; padding: 0 15px;">
                <div class="mt-5">
                    <form th:action="@{/calendar/changeYear}" th:method="get" class="form-inline">
                        <div class="form-group">
                            <label for="year" class="mr-2 mb-2">Выберите год:</label>
                            <select id="year" name="year" class="form-control mr-2 mb-2">
                                <option th:each="year : ${years}" th:value="${year}" th:text="${year}" th:selected="${year == selectedYear}" class="form-control"></option>
                            </select>
                            <button type="submit" class="btn btn-dark">Изменить год</button>
                        </div>
                    </form>
                </div>

                <div class="card mt-5" style="max-height: 100%; padding-bottom: 25px; margin-bottom: 25px;">
                    <div class="card-body">
                        <h3 class="card-title" th:text="${@calendarUtil.getDayOfMonth() + ' ' + @calendarUtil.getMonth()}"></h3>
                        <h4 class="card-text" th:text="${@calendarUtil.getDayOfWeek()}"></h4>
                    </div>
                    <div th:if="${events.isEmpty()}"><h4>Событий нет</h4></div>
                    <ul th:if="${not events.isEmpty()}" class="list-group list-group-flush">
                        <th:block th:each="event : ${events}">
                            <th:block th:if="${@calendarUtil.getMonth(event) == '' + @calendarUtil.getMonthValue()
                                                && @calendarUtil.getDay(event) == @calendarUtil.getDayOfMonth()}">
                                <li class="list-group-item">
                                    <a th:text="${event.name}" th:href="@{/event/{id}(id=${event.id})}"></a>
                                </li>
                            </th:block>
                        </th:block>
                    </ul>
                </div>

                <div>
                    <h3>Ближайшие события</h3>
                    <div th:if="${nearestEvents.isEmpty()}"><h4>Событий нет</h4></div>
                    <table th:if="${!nearestEvents.isEmpty()}" class="table">
                        <th:block th:each="event : ${nearestEvents}">
                            <tr>
                                <td th:text="${event.getFormattedDate()?.replaceAll('^0+','')}"></td>
                                <td><a th:text="${event.name}" th:href="@{/event/{id}(id=${event.id})}"></a></td>
                            </tr>
                        </th:block>
                    </table>
                </div>
            </div>
        </div>
    </main>

    <div class="mt-auto" th:replace="blocks/footer.html :: footer"></div>

</div>
</body>
</html>